{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('app_logout') }}" role ="button" class="btn btn-secondary mb-5">Log out</a>

{# display of firstname #}
    <h1>Hello {{ app.user.firstname }} ! ✅</h1>

    This is the list of messages
    <ul>
        {% for message in messages %}
        <a href="{{ path('message_show',{id: message.id})}}"> <li>{{ message.id }} {{ message.content }}</li> </a>
        
        {% endfor %}
    </ul>


<a href="{{ path('message_new') }}" role="button" class="btn btn-primary mt-5 px-5">Nouveau Message</a>


</div>
{% endblock %}
